
/** ADD YOUR AWESOME CODES HERE **/


/* Style The Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    all: unset !important;
    position: relative !important;
    display: inline-block !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none !important;
    position: absolute !important;
    background-color: #f9f9f9 !important;
    min-width: 160px !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
    z-index: 1 !important;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content > a {
    color: black !important;
    padding: 12px 16px !important;
    text-decoration: none !important;
    display: block !important;
    background: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background: #e00707 !important;
    color: white !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block !important;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41 !important;
}